In [34]:
# Input in python
a = input('Enter anything')
b = eval(input('Enter anything'))
print(type(a),type(b))

<class 'str'> <class 'int'>

# Basic Data Types in Python
- Integer
- Floating Point
- Complex
- Boolean
- String

In [14]:
# Integer
a = 3
print(a)

# Floating Point
b = 2.3
print(b)

# Complex Number ( iota )
c = 1 + 3j
print(c)

# Boolean [ True , False ]
d = True
print(d)

# String
e = "Hello Python !!"
print(e)

3
2.3
(1+3j)
True
Hello Python !!

In [15]:
print(type(a),type(b),type(c),type(d),type(e))

<class 'int'> <class 'float'> <class 'complex'> <class 'bool'> <class 'str'>

## Conversion of one data type to another

In [13]:
# Integer to Float
x = 10
print(x)
print(type(x))

y = float(x)
print(y)
print(type(y))


# Float to Integer
p = 3.4
print(p)
print(type(p))

q = int(p)
print(q)
print(type(q))

10
<class 'int'>
10.0
<class 'float'>
3.4
<class 'float'>
3
<class 'int'>

### Types of Objects in Python
- Immutable Objects [int,float,string,bool,tuple]
- Mutalble Objects [List,Set,Dictionary]

# LIST

In [24]:
# Declaring a list
l1 = [1,'English',True,4.3]
print(l1)
type(l1)

# Appending to a list
l1.append(6)
print(l1)
print(l1[0],l1[1])

# Deleting from list
del l1[3]
print(l1)

[1, 'English', True, 4.3]
[1, 'English', True, 4.3, 6]
1 English
[1, 'English', True, 6]

# TUPLE

In [27]:
# Declaring a tuple
t1 = [2,"text",4.2,False]
print(t1)
print(type(t1))

# Converting list to tuple
t2 = tuple(l1)
print(t2)
print(type(t2))

# tuple doesn't allow duplicate values

# Accessing tuple Values
print(t1[0],t1[3])

# tuple.append(5) -> Gives error as tuple are immutable

[2, 'text', 4.2, False]
<class 'list'>
(1, 'English', True, 6)
<class 'tuple'>
2 False

# SET

In [29]:
# Declaring a set
s1 = [1,2,3,4,5]
print(s1)
print(type(s1))

# print(s1[0]) -> Gives error as it cannot be accessed like this

# Converting list to set
s2 = list(l1)
print(s2)
print(type(s2))

# Duplicate values now allowed in set

[1, 2, 3, 4, 5]
<class 'list'>
[1, 'English', True, 6]
<class 'list'>

# DICTIONARY

In [31]:
# Declaring a dictionary
d1 = {'name':'shyam','age':30,'country':'India'}
print(d1)
print(type(d1))

# Accessing dictionary values with keys
print(d1['name'])

# Duplicate Values now allowed in dictionary

{'name': 'shyam', 'age': 30, 'country': 'India'}
<class 'dict'>
shyam

### Operators in Python
- Arithmetic Operators [+ , - , * , / , ** , %]
- Assignment Operators [= , += , -= , *= , /=]
- Comparison Operators [== , != , > , < , >= , <=]
- Logical Operators    [and , or , not]
- Identity Operators   [is , is not]
- Membership Operators [in , not in]

In [33]:
# Identity operators
a = 5
b = 5
print(a is b , a is not b)

# Membership Operators
a1 = [2,3,4,5,10]
print(a in a1)
print(b not in a1)

True False
True
False

- ### if elif else statements
- ### nested if statement
- ### Loops in Python
     - for loop [ for i in range(n) , for i in array ]
     - while loop
  
- ### Functions